.form_block {
  margin-bottom: 0px;
  flex: 1;
}

.form {
  display: grid;
  width: 100%;
  flex-direction: row;
  justify-items: stretch;
  flex-wrap: wrap;
  align-items: end;
  grid-auto-columns: 1fr;
  grid-column-gap: var(--_sizes---gap--sm-gap);
  grid-row-gap: var(--_sizes---gap--xs-gap);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 767px) {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: stretch;
  }
}

.form_item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;

  grid-column: span 12;
}

@media screen and (max-width: 767px) {
  .form_item {
    flex: 0 auto;
  }
}

.form_item.is-half {
  min-width: 40%;
  flex-grow: 1;
  flex-shrink: 0;
  grid-column: span 6;
}

@media screen and (max-width: 767px) {
  .form_item.is-half {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    grid-column: span 12;
  }
}

.input_label {
  position: relative;
  z-index: 1;

  margin-bottom: 0.5em;

  font-size: 0.75rem;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.input_label.is-inverse {
  color: var(--_colors---core-neutral-color--neutral-primary);
}

.input_field {
  height: auto;
  margin-bottom: 0px;
  padding: var(--_sizes---input--input-padding-vertical) var(--_sizes---input--input-padding-horizontal);

  border: 1px solid var(--_colors---input--input-primary-border);
  border-radius: var(--_sizes---input--input-radius);

  background-color: var(--_colors---background-color--bg-primary);
  background-image: none;

  box-shadow: none;

  transition: background-color 200ms cubic-bezier(.165, .84, .44, 1),border-color 200ms cubic-bezier(.165, .84, .44, 1);

  color: var(--_colors---text-color--text-primary);
  font-size: 1rem;
  line-height: 1.3;
}

.input_field:hover {
  border-color: var(--_colors---input--input-primary-border-hover);
  background-color: var(--_colors---background-color--bg-primary);
  box-shadow: none;
}

.input_field:focus {
  border-color: var(--_colors---input--input-primary-border);
  outline-color: var(--_colors---core-accent-color--accent-primary);
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

.input_field::placeholder {
  color: var(--_colors---input--input-primary-text-placeholder);
}

.input_field.is-select {
  border-top-width: 0px;
  border-top-color: var(--_colors---border-color--border-primary);
  border-right-width: 0px;
  border-right-color: var(--_colors---border-color--border-primary);
  border-bottom-width: 0px;
  border-bottom-color: var(--_colors---border-color--border-primary);
  border-left-width: 0px;
  border-left-color: var(--_colors---border-color--border-primary);

  background-color: var(--_colors---background-color--bg-primary);
  background-image: url(https://cdn.prod.website-files.com/663ae41a035a5092ac55e30d/663ae41a035a5092ac55e324_select-arrow-black.svg);
  background-position: 97%;
  background-size: 14px;
  background-repeat: no-repeat;

  box-shadow: 0 0 0 1px var(--_colors---border-color--border-primary);

  transition-property: border-color, color, background-color, box-shadow;
  transition-duration: 200ms;
  transition-timing-function: ease, ease, cubic-bezier(0.165, 0.84, 0.44, 1), ease;

  color: var(--_colors---text-color--text-primary);
  font-size: 1rem;

  appearance: none;
}

.input_field.is-select:hover {
  border-width: 0px;
  border-color: var(--_colors---border-color--border-primary);

  background-color: var(--_colors---background-color--bg-primary);
  background-image: url(https://cdn.prod.website-files.com/663ae41a035a5092ac55e30d/663ae41a035a5092ac55e324_select-arrow-black.svg);
  background-position: 97%;
  background-size: 14px;
  background-repeat: no-repeat;

  box-shadow: 0 0 0 1px var(--_colors---border-color--border-primary);
}

.input_field.is-select:focus-visible {
  outline-color: var(--_colors---core-accent-color--accent-primary);
}

@media screen and (max-width: 479px) {
  .input_field.is-select {
    background-position: 96% 50%;
  }
}

.is-select {
  height: auto;
  margin-bottom: 0px;
  padding-top: var(--_sizes---input--input-padding-vertical);
  padding-right: var(--_sizes---input--input-padding-horizontal);
  padding-bottom: var(--_sizes---input--input-padding-vertical);
  padding-left: var(--_sizes---input--input-padding-horizontal);

  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: var(--_colors---input--input-primary-border);
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: var(--_colors---input--input-primary-border);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--_colors---input--input-primary-border);
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: var(--_colors---input--input-primary-border);
  border-top-left-radius: var(--_sizes---input--input-radius);
  border-top-right-radius: var(--_sizes---input--input-radius);
  border-bottom-left-radius: var(--_sizes---input--input-radius);
  border-bottom-right-radius: var(--_sizes---input--input-radius);

  background-color: var(--_colors---input--input-primary-bg);
  background-image: none;
  background-position: 97% 50%;
  background-size: 14px;
  background-repeat: no-repeat;

  transition-property: background-color, border-color;
  transition-duration: 200ms, 200ms;
  transition-timing-function: cubic-bezier(.165, .84, .44, 1), cubic-bezier(.165, .84, .44, 1);

  color: var(--_colors---input--input-primary-text);
  font-size: 1rem;
  line-height: 1.3;

  appearance: none;
}

.is-select:hover {
  border-color: var(--_colors---input--input-primary-border-hover);
  background-color: var(--_colors---input--input-primary-bg-hover);
}

.is-select:focus {
  outline-color: var(--_colors---core-accent-color--accent-primary);
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

.is-select:focus-visible {
  outline-color: var(--_colors---core-accent-color--accent-primary);
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

.is-select::placeholder {
  color: var(--_colors---input--input-primary-text-placeholder);
}

@media screen and (max-width: 479px) {
  .is-select {
    background-position: 96% 50%;
  }
}

.input_field.is-select.on-inverse {
  border-width: 0px;
  border-color: var(--_colors---border-color--border-primary);

  background-color: var(--_colors---background-color--bg-primary);
  background-image: url(https://cdn.prod.website-files.com/663ae41a035a5092ac55e30d/663ae41a035a5092ac55e324_select-arrow-black.svg);
  background-position: 97%;
  background-size: 14px;
  background-repeat: no-repeat;

  box-shadow: 0 0 0 1px var(--_colors---border-color--border-primary);

  color: var(--_colors---text-color--text-primary);
}

.input_field.is-select.on-inverse:hover {
  border-width: 0px;
  border-color: var(--_colors---border-color--border-primary);

  background-color: var(--_colors---background-color--bg-primary);
  background-image: url(https://cdn.prod.website-files.com/663ae41a035a5092ac55e30d/663ae41a035a5092ac55e324_select-arrow-black.svg);
  background-position: 97%;
  background-size: 14px;
  background-repeat: no-repeat;

  box-shadow: 0 0 0 1px var(--_colors---border-color--border-primary);
}

.input_field.is-select.on-accent-primary {
  border-width: 0px;
  border-color: var(--_colors---core-color-tint--neutral-primary-a20);

  background-color: var(--_colors---background-color--bg-primary);
  background-image: url(https://cdn.prod.website-files.com/663ae41a035a5092ac55e30d/663ae41a035a5092ac55e324_select-arrow-black.svg);
  background-position: 97%;
  background-size: 14px;
  background-repeat: no-repeat;

  box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-primary-a20);

  transition: border-color 200ms ease,color undefined ease,background-color undefined cubic-bezier(0.165, 0.84, 0.44, 1),box-shadow undefined ease;

  color: var(--_colors---text-color--text-inverse-primary);
}

.input_field.is-select.on-accent-primary:hover {
  border-width: 0px;
  border-color: var(--_colors---core-color-tint--neutral-primary-a20);

  background-color: var(--_colors---background-color--bg-primary);
  background-image: url(https://cdn.prod.website-files.com/663ae41a035a5092ac55e30d/663ae41a035a5092ac55e324_select-arrow-black.svg);
  background-position: 97%;
  background-size: 14px;
  background-repeat: no-repeat;

  box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-primary-a20);
}

.input_field.is-select.on-accent-secondary {
  border-width: 0px;
  border-color: var(--_colors---core-color-tint--neutral-inverse-a20);

  background-color: var(--_colors---background-color--bg-primary);
  background-image: url(https://cdn.prod.website-files.com/663ae41a035a5092ac55e30d/663ae41a035a5092ac55e324_select-arrow-black.svg);
  background-position: 97%;
  background-size: 14px;
  background-repeat: no-repeat;

  box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-inverse-a20);

  transition: border-color 200ms ease,color undefined ease,background-color undefined cubic-bezier(0.165, 0.84, 0.44, 1),box-shadow undefined ease;

  color: var(--_colors---text-color--text-primary);
}

.input_field.is-select.on-accent-secondary:hover {
  border-width: 0px;
  border-color: var(--_colors---core-color-tint--neutral-inverse-a20);

  background-color: var(--_colors---background-color--bg-primary);
  background-image: url(https://cdn.prod.website-files.com/663ae41a035a5092ac55e30d/663ae41a035a5092ac55e324_select-arrow-black.svg);
  background-position: 97%;
  background-size: 14px;
  background-repeat: no-repeat;

  box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-inverse-a20);
}

.input_field.is-select.on-accent-tertiary {
  border-width: 0px;
  border-color: var(--_colors---core-color-tint--neutral-inverse-a20);

  background-color: var(--_colors---background-color--bg-primary);
  background-image: url(https://cdn.prod.website-files.com/663ae41a035a5092ac55e30d/663ae41a035a5092ac55e324_select-arrow-black.svg);
  background-position: 97%;
  background-size: 14px;
  background-repeat: no-repeat;

  box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-inverse-a20);

  transition: border-color 200ms ease,color undefined ease,background-color undefined cubic-bezier(0.165, 0.84, 0.44, 1),box-shadow undefined ease;

  color: var(--_colors---text-color--text-primary);
}

.input_field.is-select.on-accent-tertiary:hover {
  border-width: 0px;
  border-color: var(--_colors---core-color-tint--neutral-inverse-a20);

  background-color: var(--_colors---background-color--bg-primary);
  background-image: url(https://cdn.prod.website-files.com/663ae41a035a5092ac55e30d/663ae41a035a5092ac55e324_select-arrow-black.svg);
  background-position: 97%;
  background-size: 14px;
  background-repeat: no-repeat;

  box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-inverse-a20);
}

.input_field.input_inline {
  padding-top: var(--_sizes---spacing--0-75x);
  padding-bottom: var(--_sizes---spacing--0-75x);
  border-style: none none solid;
  border-radius: 0rem;
  font-size: var(--\<unknown\|variable-312154aa-fccc-6c34-6d91-a51c4f5b30d8\>);
}

.input_field.on-inverse {
  border-color: var(--_colors---input--input-inverse-border);
  background-color: var(--_colors---background-color--bg-primary);
  background-image: none;
  box-shadow: none;
  color: var(--_colors---text-color--text-primary);
}

.input_field.on-inverse:hover {
  border-color: var(--_colors---input--input-inverse-border-hover);
  background-color: var(--_colors---background-color--bg-primary);
  box-shadow: none;
}

.input_field.on-inverse:focus {
  border-color: var(--_colors---input--input-inverse-border);
  outline-color: var(--_colors---core-accent-color--accent-primary);
}

.input_field.on-inverse::placeholder {
  color: var(--_colors---input--input-inverse-text-placeholder);
}

.input_field.is-text-area {
  min-height: 7.5rem;
}

.input_field.is-inverse {
  min-height: 7.5rem;
  border-color: var(--_colors---input--input-inverse-border);
  background-color: var(--_colors---input--input-inverse-bg);
  color: var(--_colors---input--input-inverse-text);
}

.input_field.is-inverse:hover {
  border-color: var(--_colors---input--input-inverse-border-hover);
  background-color: var(--_colors---input--input-inverse-bg-hover);
}

.input_field.is-inverse::placeholder {
  color: var(--_colors---input--input-inverse-text-placeholder);
}

.input_field.on-accent-primary {
  border-color: var(--_colors---core-color-tint--neutral-primary-a30);
  background-color: var(--_colors---background-color--bg-primary);
  background-image: none;
  box-shadow: none;
  color: var(--_colors---text-color--text-inverse-primary);
}

.input_field.on-accent-primary:hover {
  border-color: var(--_colors---core-color-tint--neutral-primary-a30);
  background-color: var(--_colors---background-color--bg-primary);
  box-shadow: none;
}

.input_field.on-accent-secondary {
  border-color: var(--_colors---core-color-tint--neutral-inverse-a30);
  background-color: var(--_colors---background-color--bg-primary);
  background-image: none;
  box-shadow: none;
  color: var(--_colors---text-color--text-primary);
}

.input_field.on-accent-secondary:hover {
  border-color: var(--_colors---core-color-tint--neutral-inverse-a30);
  background-color: var(--_colors---background-color--bg-primary);
  box-shadow: none;
}

.input_field.on-accent-tertiary {
  border-color: var(--_colors---core-color-tint--neutral-inverse-a30);
  background-color: var(--_colors---background-color--bg-primary);
  background-image: none;
  box-shadow: none;
  color: var(--_colors---text-color--text-primary);
}

.input_field.on-accent-tertiary:hover {
  border-color: var(--_colors---core-color-tint--neutral-inverse-a30);
  background-color: var(--_colors---background-color--bg-primary);
  box-shadow: none;
}

.input_field.is-expand {
  flex: 1;
}

.input_field.is-style-underline {
  padding-right: 0rem;
  padding-left: 0rem;
  border-style: none none solid;
  border-radius: 0rem;
}

.input_text-area {
  min-height: 7.5rem;
}

.input_text-area {
  height: auto;
  min-height: 7.5rem;
  margin-bottom: 0px;
  padding: var(--_sizes---spacing--1x);

  border: 1px solid var(--_colors---input--input-primary-border);
  border-radius: var(--_sizes---input--input-radius);

  background-color: var(--_colors---input--input-primary-bg);

  transition: background-color 200ms ease;

  color: var(--_colors---input--input-primary-text);
  font-size: var(--_sizes---spacing--1x);
}

.input_text-area:hover {
  background-color: var(--_colors---input--input-primary-bg-hover);
}

.checkbox {
  position: relative;
  display: flex;
  margin-bottom: 0px;
  padding: 0px 0px 0px 2em;
}

.margin-bottom_none {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 991px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

.checkbox_toggle {
  width: 1.5em;
  height: 1.5em;
  margin-top: 0px;
  margin-right: 0.75em;
  margin-left: -2rem;

  border-top-style: solid;
  border-top-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  border-top-left-radius: var(--_sizes---radius--sm-radius);
  border-top-right-radius: var(--_sizes---radius--sm-radius);
  border-bottom-left-radius: var(--_sizes---radius--sm-radius);
  border-bottom-right-radius: var(--_sizes---radius--sm-radius);

  transition-property: border-color, background-color;
  transition-duration: 200ms, 200ms;
  transition-timing-function: cubic-bezier(.165, .84, .44, 1), cubic-bezier(.165, .84, .44, 1);

  border-top-color: color-mix(in srgb, currentColor 50%, transparent);
  border-right-color: color-mix(in srgb, currentColor 50%, transparent);
  border-bottom-color: color-mix(in srgb, currentColor 50%, transparent);
  border-left-color: color-mix(in srgb, currentColor 50%, transparent);
}

.checkbox_toggle:hover {
  box-shadow: color-mix(in srgb, currentColor 30%, transparent) 0px 0px 0px 4px;
}

.checkbox_toggle:focus {
  outline-color: var(--_colors---core-accent-color--accent-primary);
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

.checkbox_toggle:global(.w--redirected-checked) {
  border-style: none;
  border-color: var(--_colors---input--input-primary-text);
  border-radius: var(--_sizes---input--input-radius);

  background-color: var(--_colors---input--input-control);
  background-image: none;
  background-position: 50% 50%;
  background-size: 12px 12px;
  background-repeat: no-repeat;
}

.checkbox_toggle:global(.w--redirected-focus) {
  box-shadow: none;
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
  outline-color: color-mix(in srgb, currentColor 40%, transparent);
}

.checkbox_toggle:global(.w--redirected-focus-visible) {
  border-top-color: var(--_colors---input--input-primary-border-hover);
  border-right-color: var(--_colors---input--input-primary-border-hover);
  border-bottom-color: var(--_colors---input--input-primary-border-hover);
  border-left-color: var(--_colors---input--input-primary-border-hover);

  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
  outline-color: color-mix(in srgb, currentColor 40%, transparent);
}

@media screen and (max-width: 991px) {
  .checkbox_toggle {
    min-height: 24px;
    min-width: 24px;
  }
}

.checkbox_toggle.on-inverse {
  border-color: var(--_colors---input--input-inverse-border);
  background-color: var(--_colors---input--input-inverse-bg);
}

.checkbox_toggle.on-inverse:hover {
  border-color: var(--_colors---input--input-inverse-border-hover);
  background-color: var(--_colors---input--input-inverse-bg-hover);
}

.checkbox_toggle.on-inverse:global(.w--redirected-checked) {
  border-color: var(--_colors---input--input-inverse-text);
  background-color: var(--_colors---input--input-inverse-text);
  background-image: none;
}

.inline-input-0 {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox_label {
  margin-bottom: var(--_sizes---spacing--0-5x);
}

.text-link {
  display: inline;
  color: var(--_colors---text-link--link-primary);
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: color-mix(in srgb, currentColor 30%, transparent);
}

.text-link:hover {
  color: var(--_colors---text-link--link-primary-hover);
  text-decoration: underline;
  text-decoration-color: color-mix(in srgb, currentColor 100%, transparent);
}

.text-link.is-small {
  font-size: var(--_sizes---spacing--0-75x);
}

.text-link.is-inverse {
  color: var(--_colors---text-link--link-inverse);
  text-decoration: underline;
  text-decoration-color: color-mix(in srgb, currentColor 30%, transparent);
}

.text-link.is-inverse:hover {
  color: var(--_colors---text-link--link-inverse-hover);
  text-decoration: underline;
  text-decoration-color: color-mix(in srgb, currentColor 100%, transparent);
}

.text-link.is-secondary {
  color: var(--_colors---text-link--link-secondary);
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: color-mix(in srgb, currentColor 30%, transparent);
}

.text-link.is-secondary:hover {
  text-decoration-color: color-mix(in srgb, currentColor 100%, transparent);
}

.text-link.on-accent-primary {
  color: inherit;
}

.text-link.on-accent-primary:hover {
  opacity: 0.6;
  color: inherit;
}

.text-link.on-accent-secondary {
  color: inherit;
}

.text-link.on-accent-secondary:hover {
  opacity: 0.6;
  color: inherit;
}

.text-link.on-accent-tertiary {
  color: inherit;
}

.text-link.on-accent-tertiary:hover {
  opacity: 0.6;
  color: inherit;
}

.text-link.on-inverse {
  text-decoration: underline;
  color: inherit;
  text-decoration-color: color-mix(in srgb, currentColor 50%, transparent);
}

.text-link.on-inverse:hover {
  opacity: 0.6;
  color: inherit;
  text-decoration-color: color-mix(in srgb, currentColor 100%, transparent);
}

.text-link.is-xlarge {
  font-size: var(--_typography---text-xl--xl-text-size);
}

.text-link.is-large {
  font-size: var(--_typography---text-lg--lg-text-size);
}

.text-span_padding {
  display: inline;
  margin-right: 0.25em;
  margin-left: 0.25em;
}

.button-group {
  display: flex;
  margin-top: var(--_sizes---spacing--1-5x);
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: var(--_sizes---spacing--1x);
  grid-row-gap: var(--_sizes---spacing--1x);
}

@media screen and (max-width: 479px) {
  .button-group {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: stretch;
  }
}

.button-group.is-align-center {
  justify-content: center;
}

@media screen and (max-width: 479px) {
  .button-group.is-align-center {
    justify-content: center;
    align-items: stretch;
  }
}

.button-group.is-align-right {
  justify-content: flex-end;
}

.button-group.is-vertical-stretch {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

.button {
  display: inline-flex;
  padding: var(--_sizes---button--button-padding-vertical) var(--_sizes---button--button-padding-horizontal);
  justify-content: center;
  align-items: center;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;

  border: 0px solid var(--_colors---button--button-primary-border);
  border-radius: var(--_sizes---button--button-radius);

  background-color: var(--_colors---core-accent-color--accent-primary);
  background-image: none;

  box-shadow: none;

  transition: border-color 200ms ease,color 200ms ease,background-color 200ms cubic-bezier(0.165, 0.84, 0.44, 1),box-shadow 200ms ease;

  font-family: var(--_typography---button--button-font);
  color: var(--_colors---text-color--text-on-accent-primary);
  font-size: var(--_typography---base-typography--base-font-size);
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
}

.button:hover {
  border-color: var(--_colors---button--button-primary-border-hover);
  background-color: var(--_colors---core-accent-color--accent-primary-hover);
  box-shadow: none;
  color: var(--_colors---button--button-primary-text);
}

.button:active {
  background-color: var(--_colors---core-accent-color--accent-primary);
  box-shadow: none;
}

.button:focus {
  outline-color: var(--_colors---core-accent-color--accent-primary);
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

@media screen and (max-width: 479px) {
  .button {
    white-space: nowrap;
  }
}

.button.is-secondary {
  border-color: var(--_colors---button--button-secondary-border);
  background-color: transparent;
  background-image: none;
  box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-inverse-a20) inset;
  color: var(--_colors---text-color--text-primary);
}

.button.is-secondary:hover {
  border-color: var(--_colors---button--button-secondary-border-hover);
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-inverse-a40) inset;
}

.button.is-secondary:active {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-inverse-a20) inset;
}

.button.is-secondary.on-accent-primary {
  background-color: transparent;
  background-image: none;
  box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-primary-a20) inset;
  color: var(--_colors---text-color--text-inverse-primary);
}

.button.is-secondary.on-accent-primary:hover {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-primary-a50) inset;
  color: var(--_colors---text-link--link-inverse-hover);
}

.button.is-secondary.on-accent-primary:active {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-primary-a20) inset;
}

.button.is-secondary.on-accent-secondary {
  background-color: transparent;
  background-image: none;
  box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-inverse-a20) inset;
  color: var(--_colors---text-color--text-primary);
}

.button.is-secondary.on-accent-secondary:hover {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-inverse-a50) inset;
  color: var(--_colors---text-link--link-inverse-hover);
}

.button.is-secondary.on-accent-secondary:active {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-inverse-a20) inset;
}

.button.is-secondary.on-accent-tertiary {
  background-color: transparent;
  background-image: none;
  box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-inverse-a20) inset;
  color: var(--_colors---text-color--text-primary);
}

.button.is-secondary.on-accent-tertiary:hover {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-inverse-a50) inset;
}

.button.is-secondary.on-accent-tertiary:active {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-inverse-a20) inset;
}

.button.is-secondary.on-inverse {
  background-color: transparent;
  background-image: none;
  box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-primary-a20) inset;
  color: var(--_colors---text-color--text-inverse-primary);
}

.button.is-secondary.on-inverse:hover {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-primary-a40) inset;
}

.button.is-secondary.on-inverse:active {
  background-color: transparent;
  box-shadow: 0 0 0 1px var(--_colors---core-color-tint--neutral-primary-a20) inset;
}

.button.is-small {
  font-size: var(--_sizes---spacing--0-75x);
}

.button.is-inverse {
  border-color: transparent;
  background-color: var(--_colors---core-accent-color--accent-primary);
  color: var(--_colors---core-neutral-color--neutral-primary);
}

.button.is-inverse:hover {
  border-color: transparent;
  background-color: var(--_colors---core-accent-color--accent-primary-hover);
}

.button.on-accent-primary {
  background-color: var(--_colors---background-color--bg-primary);
  background-image: none;
  box-shadow: none;
  color: var(--_colors---text-color--text-primary);
}

.button.on-accent-primary:hover {
  border-color: transparent;
  background-color: var(--_colors---core-color-tint--neutral-primary-a70);
  box-shadow: none;
}

.button.on-accent-primary:active {
  background-color: var(--_colors---background-color--bg-primary);
  box-shadow: none;
}

.button.on-inverse {
  border-color: transparent;
  background-color: var(--_colors---core-accent-color--accent-primary);
  background-image: none;
  box-shadow: none;
  color: var(--_colors---text-color--text-on-accent-primary);
}

.button.on-inverse:hover {
  border-color: transparent;
  background-color: var(--_colors---core-accent-color--accent-primary-hover);
  box-shadow: none;
}

.button.on-inverse:active {
  background-color: var(--_colors---core-accent-color--accent-primary);
  box-shadow: none;
}

.button.on-accent-secondary {
  background-color: var(--_colors---background-color--bg-inverse);
  background-image: none;
  box-shadow: none;
  color: var(--_colors---text-color--text-inverse-primary);
}

.button.on-accent-secondary:hover {
  background-color: var(--_colors---core-color-tint--neutral-inverse-a70);
  box-shadow: none;
  color: var(--_colors---text-color--text-primary);
}

.button.on-accent-secondary:active {
  background-color: var(--_colors---background-color--bg-inverse);
  box-shadow: none;
}

.button.on-accent-tertiary {
  background-color: var(--_colors---background-color--bg-inverse);
  background-image: none;
  box-shadow: none;
  color: var(--_colors---text-color--text-inverse-primary);
}

.button.on-accent-tertiary:hover {
  background-color: var(--_colors---core-color-tint--neutral-inverse-a70);
  box-shadow: none;
}

.button.on-accent-tertiary:active {
  background-color: var(--_colors---background-color--bg-inverse);
  box-shadow: none;
}

.form_success-message {
  padding: var(--_sizes---spacing--2x);
  border: 1px solid var(--_colors---border-color--border-accent);
  border-radius: var(--_sizes---card--card-radius);
  background-color: var(--_colors---core-color-tint--accent-primary-a20);
}

.form_error-message {
  margin-top: var(--_sizes---spacing--1x);
  padding: var(--_sizes---spacing--1x);

  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 100.00%, 66.89%, 0.40);
  border-radius: var(--_sizes---radius--sm-radius);

  background-color: rgba(255, 43, 43, 0.2);
}

.form_error-message_content {
  display: flex;
  align-items: flex-start;
  grid-column-gap: var(--_sizes---spacing--0-5x);
  grid-row-gap: var(--_sizes---spacing--0-5x);
}

.display_inline-block {
  display: inline-block;
}